<button
  [disabled]="addUserDisable$ | async"
  class="btn btn-primary ms-4 mb-4 mt-4"
  (click)="openAddUserModal()"
>
  Add User
</button>

<table class="table">
  <thead>
    <tr class="table-row">
      <th>Id</th>
      <th>Name</th>
      <th>Active</th>
    </tr>
  </thead>
  <tbody>
    <tr class="table-row" *ngFor="let user of users">
      <th>{{ user.id }}</th>
      <th>{{ user.name }}</th>
      <th>
        <input
          role="button"
          type="checkbox"
          [checked]="user.active"
          (change)="setActive(user)"
        />
      </th>
    </tr>
  </tbody>
</table>
